:root {
  --bg: #d4d1d1;
  --body-bg: #fafafa;
  --body-color: #222;
  --link-color-hover: #ec5840;
  --footer-text-color: #899095;
  --footer-color: #3cc368;
}
.dark-mode:root {
    --bg: #242d36;
    --body-bg: #282e35;
    --body-color: #dee2e6;
    --link-color: #dee2e6;
    --link-color-hover: #3cc368;
    --footer-text-color: #222;
    --footer-color: #ec5840;
  }

body {
  background-color: var(--bg);
  color: var(--body-color);
  font: var(--body-font);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  border: 0;
  border-top: 1px solid var(--footer-text-color);
  margin: 10px;
  opacity: 60%;
}

h2{
	padding-left: 10px;
}
 
a {
  color: var(--body-color);
  text-decoration: none;
}
.link:hover {
  color: var(--footer-color);
  border-bottom: 3px solid;
  border-radius: 2px;
}

#dark{
  background-color: var(--body-color);
  border: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 90%;
  left: 95%;

}

#dark:hover{
  background-color: var(--body-color);
  opacity: 40%;
  border: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 90%;
  left: 95%;

}
#proximo{
  background-color: var(--footer-color);
  border: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 95%;
  color: var(--link-color);
  padding-bottom: 7px;
  font-size: 25px;

}

#corpo{
  height: 1300px;
  margin: 15px 15px;
}
#corpo-main{
  text-align: center;
  height: 1000px;
  margin: 15px 15px;
  color: var(--body-color);
  background: var(--body-bg);
  margin-bottom: 8px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.perfis{
  width: 400px;
  height: auto;
  text-align: center;
}

.imagem-redonda{
  border: 1px;
  border-radius: 100%;
  width: 100%;
  transition: transform .2s;
}

.imagem-redonda:hover{
  cursor: pointer;
  transform: scale(1.1);
}
@keyframes loadImagem {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

footer{
  text-align: center;
  color: var(--body-bg);
  background-color:var(--footer-color);
  height: 100px;
  width: 100%;
  margin: 0%;
  padding-top: 10px;
}
.experiencias{
  
  color: var(--body-color);
  background: var(--body-bg);
  width: 66%;
  height: auto;
  float: right;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.escolaridade{
  
  color: var(--body-color);
  background: var(--body-bg);
  width: 66%;
  height: auto;
  float: right;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.perfil{
  color: var(--body-color);
  background: var(--body-bg);
  width: 32%;
  height: 90%;
  float: left;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.lista{
  padding-left: 10px;
  padding-right: 10px;
  color: var(--footer-color);
  font-size: 20px;
}
.linguagens{
  padding-left: 10px;
  padding-right: 10px;
  color: var(--footer-color);
  font-size: 30px;
  border: 0;
}
.img{
  width: 100%;
  float: left;
  margin: 0;
  position: relative;
}
.conteudo{
  margin-left: 30px;
}
.datas{
  color: var(--footer-color);
}
.esquerda{
  float: left;
  margin-left: 10%;
}
.direita{
  float: right;
  margin-right: 10%;
}
.progresso {
  text-align: center;
  background: var(--body-color);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 20px;
  width: 80%;
  margin-right: 30px;
  margin-top: 3px;
  float: right;
}

.progresso-js-arthur{
  text-align: center;
  color: var(--link-color);
  animation: loadJSArthur 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadJSArthur {
  0% {
      width: 0;
  }
  100% {
      width: 4.8%;
  }
}

.progresso-css-arthur{
  color: var(--link-color);
  animation: loadCSSArthur 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadCSSArthur {
  0% {
      width: 0;
  }
  100% {
      width: 45.1%;
  }
}
.progresso-html-arthur{
  color: var(--link-color);
  animation: loadHTMLArthur 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadHTMLArthur {
  0% {
      width: 0;
  }
  100% {
      width: 50.1%;
  }
}

.progresso-js-pedro{
  text-align: center;
  color: var(--link-color);
  animation: loadJSPedro 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadJSPedro {
  0% {
      width: 0;
  }
  100% {
      width: 35%;
  }
}

.progresso-css-pedro{
  color: var(--link-color);
  animation: loadCSSPedro 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadCSSPedro {
  0% {
      width: 0;
  }
  100% {
      width: 35%;
  }
}
.progresso-html-pedro{
  color: var(--link-color);
  animation: loadHTMLPedro 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadHTMLPedro {
  0% {
      width: 0;
  }
  100% {
      width: 30%;
  }
}

.dados{
  color: var(--body-bg);
}